/* src/App.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Stile base per i bottoni */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f0f0f0;
}

button:hover {
  border-color: #646cff;
}

/* Stili specifici per l'applicazione */
.order-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.order-card {
  border: 1px solid #007bff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.order-card h4 {
  margin-top: 0;
  color: #007bff;
}

.order-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.order-form label,
.order-form select {
  display: block;
  margin-bottom: 15px;
}

.dish-list button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.complete-button {
  background-color: #dc3545;
  color: white;
}
.edit-button {
  background-color: #ffc107;
}

.save-button {
  background-color: #28a745;
  color: white;
}