/* Assicurati che le direttive base, components, e utilities di Tailwind siano qui */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definizione dell'animazione per il Modal */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}